html{
    scroll-behavior: smooth;
}

body{
    background-color: bisque;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
position: fixed;
right: 0;
  }
  
  li {
    float: right;
       margin-right: 0.7em;
       font-size: 1.3rem;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }

  a:visited{
    color: black;
  }

  .hero{
    display: flex;
  }

  .hero-text{
    max-width:60%;
    text-align: center;
   margin-top:2.5rem;
  }

.hero-text button{
    background-color: rgba(163, 40, 40, 0.753);
    border: none;
    padding:0.3rem;
    border-radius: 0.5em;
    font-size: 1em;
    box-shadow:  2px 3px rgb(61, 14, 14);
}

  .hero img{
    width: 50%;
  }
